/* MÁS INFO SOBRE CSS https://www.w3schools.com/css/ */

body {
  background: pink;
}

/* Llamamos a los elementos del HTML por etiquetas */
h1 {
  color: red;
  font-size: 50px;
}

/* También podemos llamar a los elementos del HTML por clase */
.titulo {
  color: blue;
  font-size: 35px;
}

.titulo:hover {
  color: white;
  font-style: italic;
  font-size: 40px;
  transition: 1s;
}

.autor {
  color: green;
  font-size: 30px;
  font-style: italic;
}

p {
  font-size: 20px;
}
